{% extends "header_footer.html" %}
{%block style%}
<link rel="stylesheet" href="../static/style/events.css">
{%endblock%}
{%block main%}
<div class="container padding">
    <div class="description">
        <p class="text_in_img">Our club will impress you with its variety of events and their quantity!</p>
        <p class="text_in_img2">Jazz evenings, dancing, themed parties in the style of that time</p>
    </div>
    <div class="events">
        <div class="for_search">
            <select name="town" id="town" class="colored-select">
                <option value="All">All</option>
                <option value="My_city">My city</option>
            </select>
            <div class="string">
                <button type="submit"><img src="../static/media/Search.png" alt="lupa" class="lupa"></button>
                <input type="text" placeholder="Search city" id="search" name="search" value="" class="search">
            </div>
        </div>
        <div class="cards_events">
            <div class="background">
                <img src="../static/media/jazz_viola.png" alt="jazz" class="card">
                <div class="container_event_direction">
                    <p class="name_event">JAZZ music improvisation</p>
                    <p class="text_event">1 November</p>
                    <p class="text_event">18:00 - 22:00</p>
                    <p class="text_event">No dress code</p>
                </div>
                <div class="button">
                    <a href="#" class="button_text">Buy</a>
                </div>
            </div>
            <div class="background">
                <img src="../static/media/jazz_viola.png" alt="jazz" class="card">
                <div class="container_event_direction">
                    <p class="name_event">JAZZ music improvisation</p>
                    <p class="text_event">1 November</p>
                    <p class="text_event">18:00 - 22:00</p>
                    <p class="text_event">No dress code</p>
                </div>
                <div class="button">
                    <a href="#" class="button_text">Buy</a>
                </div>
            </div>
            <div class="background">
                <img src="../static/media/jazz_viola.png" alt="jazz" class="card">
                <div class="container_event_direction">
                    <p class="name_event">JAZZ music improvisation</p>
                    <p class="text_event">1 November</p>
                    <p class="text_event">18:00 - 22:00</p>
                    <p class="text_event">No dress code</p>
                </div>
                <div class="button">
                    <a href="#" class="button_text">Buy</a>
                </div>
            </div>
            <div class="background">
                <img src="../static/media/jazz_viola.png" alt="jazz" class="card">
                <div class="container_event_direction">
                    <p class="name_event">JAZZ music improvisation</p>
                    <p class="text_event">1 November</p>
                    <p class="text_event">18:00 - 22:00</p>
                    <p class="text_event">No dress code</p>
                </div>
                <div class="button">
                    <a href="#" class="button_text">Buy</a>
                </div>
            </div>
            <div class="background">
                <img src="../static/media/jazz_viola.png" alt="jazz" class="card">
                <div class="container_event_direction">
                    <p class="name_event">JAZZ music improvisation</p>
                    <p class="text_event">1 November</p>
                    <p class="text_event">18:00 - 22:00</p>
                    <p class="text_event">No dress code</p>
                </div>
                <div class="button">
                    <a href="#" class="button_text">Buy</a>
                </div>
            </div>
            <div class="background">
                <img src="../static/media/jazz_viola.png" alt="jazz" class="card">
                <div class="container_event_direction">
                    <p class="name_event">JAZZ music improvisation</p>
                    <p class="text_event">1 November</p>
                    <p class="text_event">18:00 - 22:00</p>
                    <p class="text_event">No dress code</p>
                </div>
                <div class="button">
                    <a href="#" class="button_text">Buy</a>
                </div>
            </div>
            <div class="background">
                <img src="../static/media/jazz_viola.png" alt="jazz" class="card">
                <div class="container_event_direction">
                    <p class="name_event">JAZZ music improvisation</p>
                    <p class="text_event">1 November</p>
                    <p class="text_event">18:00 - 22:00</p>
                    <p class="text_event">No dress code</p>
                </div>
                <div class="button">
                    <a href="#" class="button_text">Buy</a>
                </div>
            </div>
            <div class="background">
                <img src="../static/media/jazz_viola.png" alt="jazz" class="card">
                <div class="container_event_direction">
                    <p class="name_event">JAZZ music improvisation</p>
                    <p class="text_event">1 November</p>
                    <p class="text_event">18:00 - 22:00</p>
                    <p class="text_event">No dress code</p>
                </div>
                <div class="button">
                    <a href="#" class="button_text">Buy</a>
                </div>
            </div>
            <div class="background">
                <img src="../static/media/jazz_viola.png" alt="jazz" class="card">
                <div class="container_event_direction">
                    <p class="name_event">JAZZ music improvisation</p>
                    <p class="text_event">1 November</p>
                    <p class="text_event">18:00 - 22:00</p>
                    <p class="text_event">No dress code</p>
                </div>
                <div class="button">
                    <a href="#" class="button_text">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}