<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/in_live.css">
    <title>Document</title>
</head>
<body>
    <div class="buttons">
        <img src="../static/media/live.png" alt="live" class="live">
        <a href="#"><img src="../static/media/Multiply.png" alt="close" class="close"></a>
    </div>
    <div class="container_input">
        <div class="container_plus">
            <input type="text" placeholder="Message">
            <a href="#"><img src="../static/media/message.png" alt="telegramm" class="img"></a>
        </div>
    </div>
</body>
</html>