{% extends "header_footer.html" %}
{%block style%}
<link rel="stylesheet" href="../static/style/lives.css">
{%endblock%}
{%block main%}
<div class="container padding">
    <div class="content">
        <div class="button">
            <a href="in_live/" class="text_button">Join the live</a>
        </div>
        <div class="direction">
            <img src="../static/media/gold_star.png" alt="gold_star" class="gold_star">
            <div class="text_container_direction">
                <p class="text_direction">JAZZ music improvisation</p>
                <p class="text_direction">From 18:00 to 22:00</p>
            </div>
            <img src="../static/media/gold_star.png" alt="gold_star" class="gold_star">
        </div>
    </div>
</div>
{%endblock%}
