<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/login.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="column_first">
                <a href="/main">
                    <img src="../static/media/arrow_menu.png" alt="arrow back" class="arrow_back">
                </a>
                <div class="sign">
                    <div class="for_sign">
                        <a href="/login"><p class="in">Sign in</p></a>
                        <a href="/logup"><p class="up">Sign up</p></a>
                    </div>
                    <div class="form_autentification">
                        <p class="caption_name">Email</p>
                        <input type="text" name="name" id="name">
                        <p class="caption_name">Password</p>
                        <input type="text" name="name" id="name">
                        <div class="for_check">
                            <input type="checkbox" id="roundCheckbox" class="hidden-checkbox">
                            <label for="roundCheckbox" class="round-checkbox"></label>
                            <p class="keep_me">Keep me Signed in</p>
                        </div>
                    </div>
                </div>
                <a href="/profile">
                    <img src="../static/media/arrow_menu.png" alt="arrow next" class="arrow_next">
                </a>
            </div>
            <div class="column_second">
                <img src="../static/media/baseJazz.png" alt="image" class="main_image">
            </div>
        </div>
    </main>
</body>
</html>