{% extends "header_footer.html" %}
{%block style%}
<link rel="stylesheet" href="../static/style/main_style.css">

{%endblock%}
{%block main%}
<div class="container">
    <div class="welcome padding">
        <img src="../static/media/baseJazz.png" alt="Jazz" class="jazz_base">
        <div class="description">
            <img src="../static/media/logotip.png" alt="logotip" class="logotip">
            <p class="description_jazz_club">Welcome to our Jazz club sunset! Here you will ind unforgettable evenings, a pleasant atmosphere, and delicious food. Enjoy your visit!</p>
        </div>
    </div>
    <div class="collage padding">
        <img src="../static/media/collage.png" alt="collage" class="foto">
    </div>
    <div class="vinyl">
        <!-- <img src="../static/media/plate.png" alt="vinyl" class="vinyl_record"> -->
        <p class="charming">Charming <span style="color: #E6A040;">jazz</span> awaits you, join in this captivating music! </p>
    </div>
    <div class="about_us">
        
    </div>
</div>
{%endblock%}