{% extends "header_footer.html" %}
{%block style%}
<link rel="stylesheet" href="../static/style/main_style.css">

{%endblock%}
{%block main%}
<div class="boss">
    <div class="container">
        <div class="welcome padding">
            <img src="../static/media/baseJazz.png" alt="Jazz" class="jazz_base">
            <div class="description">
                <img src="../static/media/logotip.png" alt="logotip" class="logotip">
                <p class="description_jazz_club">Welcome to our Jazz club sunset! Here you will ind unforgettable evenings, a pleasant atmosphere, and delicious food. Enjoy your visit!</p>
            </div>
        </div>
        <div class="collage padding">
            <img src="../static/media/collage.png" alt="collage" class="foto">
        </div>
    </div>
    <div class="vinyl">
        <p class="charming">Charming <span style="color: #E6A040;">jazz</span> awaits you, join in this captivating music! </p>
    </div>
    <div class="container">
        <div class="about_us">
            <h1>How to find us?</h1>
            <div class="info">
                <div class="container_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.912763733294!2d2.345150276464524!3d48.85987387133244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1edfd55311%3A0x4548638171cd0481!2zNjAgUnVlIGRlcyBMb21iYXJkcywgNzUwMDEgUGFyaXMsINCk0YDQsNC90YbQuNGP!5e0!3m2!1sru!2sru!4v1763739758249!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
                </div>
                <div class="for_info">
                    <p class="info_text"><span style="color: #E6A040;">Address:</span> 60 Rue des Lombards, 75001 Paris, France <br><span style="color: #E6A040;">Working hours:</span> <br> 17:00-3:30 <br><span style="color: #E6A040;">Phone number:</span> +33140264660 </p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}