{% extends "header_footer.html" %}
{%block style%}
<link rel="stylesheet" href="../static/style/profile.css">
{%endblock%}
{%block main%}
<div class="container">
    <div class="content">
        <div class="for_avatar">
            <button class="forCamera"><img src="../static/media/changePhoto.svg" alt="" class="photoCamera"></button>
        </div>
        <h1>adriana_nana</h1>
        <div class="for_all_input">
            <input type="text" placeholder="Full name">
            <input type="email" placeholder="Email">
            <input type="number" placeholder="Phone number">
            <input type="date" placeholder="Birthday">
            <input type="text" placeholder="City">
        </div>
        <a href="/main" class="logout">Logout</a>
    </div>
</div>
{%endblock%}