@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

body {
    font-family: "Khula", sans-serif;
    background-color: #000000;
}

.input {
    border: 3px solid#FFF1DE;
    width: 485px;
    height: 66px;
    opacity: 40%;
    border-radius: 30px;
}