@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

body {
    font-family: "Khula", sans-serif;
    background-color: #000000;
    position: relative;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 180px;
    top: 0;
    right: 0;
    margin-right: 20px;
}

.live {
    width: 120px;
}

.close {
    width: 35px;
}

.container_input {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid#FFF1DE;
    width: 485px;
    height: 66px;
    opacity: 40%;
    border-radius: 30px;
}

input {
    color: #FFF1DE;
    background-color: #000000;
    width: 400px;
    height: 51px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 30px;
    padding: 20px 10px 10px 10px;
}

.img {
    width: 35px;
}

.container_plus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
}