@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

body {
    font-family: "Khula", sans-serif;
    background-color: #FFF1DE;
}

.container {
    width: 990px;
    margin: 0 auto;
}

.content {
    margin-top: 170px;
}

.for_avatar {
    background-image: url(..media/avatar.svg);
    background-size: 200px 200px;
}

.photoCamera {
    
}